body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
    backdrop-filter: blur(6px);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #6345bc;
    padding: 14px 28px;
    border-radius: 10px;
    max-width: 550px;
    min-width: 300px;
    color: white;
    box-shadow: 10px 10px 5px rgb(69, 66, 66);
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.inputBox {
    position: relative;
    width: 250px;
    padding-bottom: 15px;
    padding-top: 0px;
    margin-top: 0px;
}

.inputBox input {
    width:100%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: #6345bc;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1em;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
    color: #ffffff;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #6345bc;
    letter-spacing: 0.2em;
}
